* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
.input {
  width: 240px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 10px;
  background-color: lightgray;
}

.button {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid lightseagreen;
  background-color: lightseagreen;
  color: white;
}

.textArea {
  border: 3px solid lightgray;
  width: 500px;
  font-size: 24px;
}
